/gift.class
/gift.java
/pattern1.class
/pattern1.java
/pattern2.java
/pattern3.class
/pattern3.java
/tempCodeRunnerFile.java
/arrange_ascen_array.class
/circularprime.class
/compositemagic.class
/consecutive.class
/factor.class
/factorial.class
/futuredate.class
/goldbatch.class
/kaprekar.class
/spynumber.class
/symmetric.class
/transpose.class
/unique.class